################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestManager/Properties
/TestManager/Resources
/TestManager/obj
/TestManager/Img
/TestManager/bin
/TestManager/App.config
/README.md
/.vs
/TestManager.git
/.git.bfg-report
/TestManagerTest/bin
/TestManagerTest/obj
/TestManagerTest/Usings.cs
/TestManager/Other/FileProcessorDeviation.cs
*.json
*.txt
/TestManager/TestManager.csproj.user
