################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestManager.sln
/TestManager/Properties
/TestManager/obj
/TestManager/User controls
/TestManager/Img
/TestManager/bin
/TestManager/App.config
/README.md
/.vs
/TestManager.git
/.git.bfg-report
*.resx
*.Designer.cs
*.csproj.user
*.csproj