################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestManager.sln
/TestManager/Properties/Resources.resx
/TestManager/Properties/Resources.Designer.cs
/TestManager/obj/TestManager.csproj.nuget.g.targets
/TestManager/obj/TestManager.csproj.nuget.g.props
/TestManager/obj/TestManager.csproj.nuget.dgspec.json
/TestManager/obj/project.nuget.cache
/TestManager/obj/project.assets.json
/TestManager/obj/Debug/net6.0-windows/TestManager.Properties.Resources.resources
/TestManager/obj/Debug/net6.0-windows/TestManager.pdb
/TestManager/obj/Debug/net6.0-windows/TestManager.Pareto.resources
/TestManager/obj/Debug/net6.0-windows/TestManager.MalfunctionReport.resources
/TestManager/obj/Debug/net6.0-windows/TestManager.MainForm.resources
/TestManager/obj/Debug/net6.0-windows/TestManager.LogIn.resources
/TestManager/obj/Debug/net6.0-windows/TestManager.GlobalUsings.g.cs
/TestManager/obj/Debug/net6.0-windows/TestManager.genruntimeconfig.cache
/TestManager/obj/Debug/net6.0-windows/TestManager.GeneratedMSBuildEditorConfig.editorconfig
/TestManager/obj/Debug/net6.0-windows/TestManager.dll
/TestManager/obj/Debug/net6.0-windows/TestManager.Details.resources
/TestManager/obj/Debug/net6.0-windows/TestManager.designer.runtimeconfig.json
/TestManager/obj/Debug/net6.0-windows/TestManager.designer.deps.json
/TestManager/obj/Debug/net6.0-windows/TestManager.csproj.GenerateResource.cache
/TestManager/obj/Debug/net6.0-windows/TestManager.csproj.FileListAbsolute.txt
/TestManager/obj/Debug/net6.0-windows/TestManager.csproj.CoreCompileInputs.cache
/TestManager/obj/Debug/net6.0-windows/TestManager.csproj.CopyComplete
/TestManager/obj/Debug/net6.0-windows/TestManager.csproj.BuildWithSkipAnalyzers
/TestManager/obj/Debug/net6.0-windows/TestManager.csproj.AssemblyReference.cache
/TestManager/obj/Debug/net6.0-windows/TestManager.assets.cache
/TestManager/obj/Debug/net6.0-windows/TestManager.AssemblyInfoInputs.cache
/TestManager/obj/Debug/net6.0-windows/TestManager.AssemblyInfo.cs
/TestManager/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
/TestManager/obj/Debug/net6.0-windows/refint/TestManager.dll
/TestManager/obj/Debug/net6.0-windows/ref/TestManager.dll
/TestManager/obj/Debug/net6.0-windows/apphost.exe
/TestManager/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/TestManager/Img/Logo.png
/TestManager/Img/Logo-removebg-preview.png
/TestManager/bin/Debug/net6.0-windows/ZstdNet.dll
/TestManager/bin/Debug/net6.0-windows/Ubiety.Dns.Core.dll
/TestManager/bin/Debug/net6.0-windows/TestManager.runtimeconfig.json
/TestManager/bin/Debug/net6.0-windows/TestManager.pdb
/TestManager/bin/Debug/net6.0-windows/TestManager.exe
/TestManager/bin/Debug/net6.0-windows/TestManager.dll.config
/TestManager/bin/Debug/net6.0-windows/TestManager.dll
/TestManager/bin/Debug/net6.0-windows/TestManager.deps.json
/TestManager/bin/Debug/net6.0-windows/System.Data.SqlClient.dll
/TestManager/bin/Debug/net6.0-windows/runtimes/win-x86/native/sni.dll
/TestManager/bin/Debug/net6.0-windows/runtimes/win-x64/native/sni.dll
/TestManager/bin/Debug/net6.0-windows/runtimes/win-arm64/native/sni.dll
/TestManager/bin/Debug/net6.0-windows/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/TestManager/bin/Debug/net6.0-windows/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/TestManager/bin/Debug/net6.0-windows/MySql.Data.dll
/TestManager/bin/Debug/net6.0-windows/KitronGenericTestReports.pdb
/TestManager/bin/Debug/net6.0-windows/KitronGenericTestReports.dll
/TestManager/bin/Debug/net6.0-windows/K4os.Hash.xxHash.dll
/TestManager/bin/Debug/net6.0-windows/K4os.Compression.LZ4.Streams.dll
/TestManager/bin/Debug/net6.0-windows/K4os.Compression.LZ4.dll
/TestManager/bin/Debug/net6.0-windows/Google.Protobuf.dll
/TestManager/bin/Debug/net6.0-windows/config.txt
/TestManager/bin/Debug/net6.0-windows/BouncyCastle.Crypto.dll
/TestManager/App.config
/README.md
/.vs/TestManager/v17/.suo
/.vs/TestManager/v17/.futdcache.v1
/.vs/TestManager/DesignTimeBuild/.dtbcache.v2
